
.screen-who, .screen-home, .screen-work, .screen-shop {
  display: none;
}
body {
	background-image: url("city-in-blade-runner.jpg");
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}
.top{
	height: 275px;
	background: linear-gradient(#EB2430, rgba(0,0,0,0));

}
.title-headBar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.bbrposter {
	border-radius: 5px;
	border: 2px #FFFEAD solid;
	width: 560px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
}
.title-footbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.headBar {
	height: 100px;
	width: 1000px;
	border-radius: 10px;
	text-align: center;
	margin-top: -40px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.main-content{
	width: 1000px;
	height: 500px;
	background-color: #EB2430;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 3px #FFFEAD solid;
}
.footbar {
	text-align: center;
	height: 100px;
	width: 1000px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.main li{
	display: inline-table;
}
.form-content {
	text-align: left;
	width: 250px;
	height: 450px;
	margin-top: 12px;
	margin-bottom: 13px;
	margin-left: 25px;
	border: 3px #FFFEAD solid;
	border-radius: 10px;
	padding-left: 10px;

}
.other-main-content {
	text-align: left;
	border-radius: 10px;
	height: 450px;
	width: 500px;
	margin-left: 75px;
	margin-right: 25px;
	margin-bottom: 13px;
	border: 3px #FFFEAD solid;
	padding-left: 10px;
}
.go-to-who {
	margin-top: 35px;
	font-size: 40px;
	color: black;
}
.go-to-work {
	margin-top: 35px;
	font-size: 40px;
	color: black;
}
.go-to-shop {
	margin-top: 35px;
	font-size: 40px;
	color: black;
}
.go-to-title {
	margin-top: 35px;
	font-size: 40px;
	color: black;
}
