/* Hides all pages other than screen-title when app is launched */
.screen-home, .screen-work, .screen-shop, .player-card {
  display: none;
}

/* This sets up the background image for all pages */
body {
	background-image: url("images/city-in-blade-runner.jpg");
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

/* This is styling for screen-title */
.title-headbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.bbr-poster {
	border: 2px #FFFEAD solid;
	width: 560px;
	margin-top:15px;
	margin-right: auto;
	margin-left: auto;
}
.title-footbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top:15px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}

/* This is styling for the banner on screen-home, screen-work, screen-shop */
.banner{
	height: 275px;
	background: linear-gradient(#EB2430, rgba(0,0,0,0));

}

/* This is the header and footer for the game content */
.content-header {
	height: 100px;
	width: 1000px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}

.content-footer {
	text-align: center;
	height: 60px;
	width: 1000px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}

/* Styling for the navigation and nav buttons */
.navigation {
	margin-top: 10px;
	font-size: 40px;
	color: black;
}

.nav-b {
	text-decoration: none;
	font-size: 40px;
	color: black;
}



/* Must be edited and integrated */
.main li{
	display: inline-block;
}
.form-content {
	
	margin-left: 50px;
	float: left;

}
.radio-form-main {
	font-size: 20px;
}
.form-content a{
	margin-top: 20px;
	color: black;
	font-size: 20px;
}
.other-main-content {
	font-size: 23px;
	margin-right: 25px;
	float: right;
	width: 600px;
}


.computer-screen {
	background-image: url("images/bbr-maincontent-bg.png");
	width: 1000px;
	height: 500px;
	background-color: #EB2430;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 3px #FFFEAD solid;
}

.computer-type { 
	color: #00FF08;
	text-shadow: 0 0 5px #00FF08;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
	font-weight: bold;
	font-family: "Courier New";
}

.question {
	margin-top: 75px;
}

.answer {
	margin-top: 50px;
	display: inline;
}

