
.screen-who, .screen-home, .screen-work, .screen-shop {
  display: none;
}
body {
	background-color: #212121;
}
.headBar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.bbrposter {
	border-radius: 5px;
	border: 2px #FFFEAD solid;
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}
.footbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
