/* Hides all pages other than screen-title when app is launched */
.screen-home, .screen-work, .screen-shop, .player-card {
  display: none;
}

/* This sets up the background image for all pages */
body {
	background-image: url("images/city-in-blade-runner.jpg");
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

/* This is styling for screen-title */
.title-headbar {
	height: 150px;
	width: 560px;
	background-color: #6C6C6C;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 7px #333333 solid;
}
.bbr-poster {
	border: 7px #333333 solid;
	height: 759px;
	width: 560px;
	margin-top:15px;
	margin-right: auto;
	margin-left: auto;
}
.title-footbar {
	height: 150px;
	width: 560px;
	background-color: #6C6C6C;
	border-radius: 10px;
	margin-top:15px;
	margin-right: auto;
	margin-left: auto;
	border: 7px #333333 solid;
}

/* This is styling for the banner on screen-home, screen-work, screen-shop */
.banner{
	height: 275px;
	background: linear-gradient(#EB2430, rgba(0,0,0,0));

}

/* This is the header and footer for the game content */
.content-header {
	height: 100px;
	width: 1000px;
	background-color: #6C6C6C;
	border-radius: 10px;
	text-align: center;
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	border: 7px #333333 solid;
}
.content-footer {
	text-align: center;
	height: 60px;
	width: 1000px;
	background-color: #6C6C6C;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 7px #333333 solid;
	padding-top: 20px;
}

/* Styling for the nav buttons */
.nav {
	text-decoration: none;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 20px;
	color: black;
}

/* Styles the main div that contains the content for the app */
.computer-screen {
	background-image: url("images/bbr-maincontent-bg.png");
	width: 1000px;
	height: 500px;
	background-color: #6C6C6C;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 7px #333333 solid;
}

/* The following styles main content for all the pages */
.left {
	height: 440px;
	width: 700px;
	float: left;
	background-color: green;
}
.right {
	height: 440px;
	width: 300px;
	float: right;
}
.user {
	height: 60px;
	width: 1000px;
	float: left;
}
.user li {
	display: inline;
	list-style: none;
}

/* This is the computer font with the green drop shadow */
.computer-type{ 
	color: #00FF08;
	text-shadow: 0 0 5px #00FF08;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 23px;
	font-family: 'Courier New';
	
}

.computer-type-too{ 
	color: #EB2430;
	text-shadow: 0 0 5px #EB2430;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	font-family: 'Courier New' ;
	
}
/* this styles the text fields in the entire app */
input[type="text"] {
	margin-left: 10px;
	border: solid 1px #0099FF;
  	box-shadow: 0 0 10px 1px #0099FF;
  	width: 150px;
  	height: 20px;
  	background-color: #00CCFF;
  	font-size: 15px;
  	font-family: 'Courier New';

}


/* Must be edited and integrated or trashed */
.main li{
	display: inline-block;
}
.form-content {
	margin-left: 50px;
	float: left;
}
.radio-form-main {
	font-size: 20px;
}
.form-content a{
	margin-top: 20px;
	color: black;
	font-size: 20px;
}
.other-main-content {
	font-size: 23px;
	margin-right: 25px;
	float: right;
	width: 600px;
}

.answer {
	margin-top: 50px;
	display: inline;
}

