
.screen-who, .screen-home, .screen-work, .screen-shop {
  display: none;
}
body {
	background-image: url("images/city-in-blade-runner.jpg");
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}
.top{
	height: 275px;
	background: linear-gradient(#EB2430, rgba(0,0,0,0));

}
.title-headbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.bbrposter {
	border-radius: 5px;
	border: 2px #FFFEAD solid;
	width: 560px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
}
.title-footbar {
	height: 150px;
	width: 560px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.headbar {
	height: 100px;
	width: 1000px;
	background-color: #EB2430;
	border-radius: 10px;
	text-align: center;
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.main-content{
	width: 1000px;
	height: 500px;
	background-color: #EB2430;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 3px #FFFEAD solid;
}
.footbar {
	text-align: center;
	height: 50px;
	width: 1000px;
	background-color: #EB2430;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px #FFFEAD solid;
}
.main li{
	display: inline-block;
}
.form-content {
	/*text-align: left;
	width: 250px;
	height: 450px;
	margin-bottom: 13px;
	margin-left: 25px;
	border: 3px #FFFEAD solid;
	border-radius: 10px;
	padding-left: 10px;*/
	margin-left: 50px;
	float: left;

}
.radio-form-main {
	font-size: 20px;
}
.other-main-content {
	/*text-align: left;
	border-radius: 10px;
	height: 450px;
	width: 500px;
	margin-left: 75px;
	margin-right: 25px;
	margin-bottom: 13px;
	border: 3px #FFFEAD solid;
	padding-left: 10px;*/
	font-size: 23px;
	margin-right: 25px;
	float: right;
	width: 600px;
}

.nav {
	margin-top: 35px;
	font-size: 40px;
	color: black;
}

.computer-screen {
	background-image: url("images/bbr-maincontent-bg.png");
	width: 1000px;
	height: 500px;
	background-color: #EB2430;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 3px #FFFEAD solid;
}
.computer-type { 
	color: #00FF08;
	text-shadow: 0 0 5px #00FF08;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
	font-weight: bold;
	font-family: "Courier New";
}
.question {
	margin-top: 75px;
}
.answer {
	margin-top: 50px;
	display: inline;
}
