div {
	height: 25px;
	width: 250px;
	border-color: #744fb8;
	background-color: #000103;;
	border-style: dashed;
	border-width: 4px;
	border-radius: 5px;
	margin: auto;
	text-align: center;
}

span {
	color: blue;
}

a {
	color: rgb(255, 239, 3);
	font-family:impact;
}
body {
	background-color: black;
	color: white;
}
img {
	height: 225px;
	text-align: center;
}
